
  html, body {
    height: 100%;
  }
  .col-md-12, .col-md-6, #site-footer{
    border: 5px solid white;
  }
  .jumbotron {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 150%;
  }
  #bootstrap-overrides {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px; 
   
  }
  #bootstrap-overrides:after {
    content: "";
    display: block;
  }
  #site-footer, #bootstrap-overrides:after {
    height: 42px; 
    text-align: center;
  }
  